body {
    background-image: url('../img/camping.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #397204;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #dee2e6;
}

#back {
    background-color: #51980f;
    height: 50px;
    width: 100px; 
}

a {
    color: #000;
}

.header-text {
    font-size: 5em;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.menu-button {
    position: relative;
    background-color: #b0dd0f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

#dropdown-menu li {
    list-style: none;
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
    background-color: #397204;
}

#dropdown-menu li a {
    font-size: 1.5em;
    color: #000;
}

#dropdown-menu li a:hover {
    color: #000;
}
