body {
    background-image: url('../img/camping.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #397204;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #dee2e6;
}

#back {
    background-color: #51980f;
    height: 50px;
    width: 100px; 
}

a {
    color: #000;
}

.header-text {
    font-family: 'Maiden Orange', cursive;
    font-size: 5em;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}



#alertsModal {
    background-color: #a5110c; /* Change to your desired color */
    color: #000; /* Change to your desired color */
}

button[data-target="alertsModal"] {
    background-color: #920702; /* Change to your desired color */
    color: #000; /* Change to your desired color */
}

button[data-target="campgroundsModal"] {
    background-color: #a0c207; /* Change to your desired color */
    color: #000; /* Change to your desired color */
}

button[data-target="parkingModal"] {
    background-color: #0d09ee; /* Change to your desired color */
    color: #000; /* Change to your desired color */
}

button[data-target="weatherModal"] {
    background-color: #0eeed4; /* Change to your desired color */
    color: #000; /* Change to your desired color */
}