@media screen and (max-width: 600px) {
    /* styles for screens that are 600px or less */
  }

body {
    background-image: url('../img/camping.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #397204;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #dee2e6;
}

#back {
    background-color: #51980f;
    height: 50px;
    width: 100px; 
}

a {
    color: #000;
}

.header-text {
    font-family: 'Maiden Orange', cursive;
    font-size: 5em;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

article {
    margin-left: 20px;
    margin-right: 20px;
}

.js-modal-trigger {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

button[data-target="alertsModal"] {
    background-color: #920702; 
    color: #000; 
    font-size: 20px;
}

button[data-target="campgroundsModal"] {
    background-color: #a0c207; 
    color: #000; 
    font-size: 20px;
}

button[data-target="parkingModal"] {
    background-color: #2522c9; 
    color: #000; 
    font-size: 20px;
}

button[data-target="weatherModal"] {
    background-color: #22bdab; 
    color: #000; 
    font-size: 20px;
}

button[data-target="alertsModal"]:hover {
    border: 2px solid #FF0000; 
    box-shadow: 0 0 15px #FF0000, 0 0 5px #FF0000;
}

button[data-target="campgroundsModal"]:hover {
    border: 2px solid #c1eb0a; 
    box-shadow: 0 0 15px #c1eb0a, 0 0 5px #c1eb0a;
}

button[data-target="parkingModal"]:hover {
    border: 2px solid #0000ff; 
    box-shadow: 0 0 15px #0000FF, 0 0 5px #0000FF;
}

button[data-target="weatherModal"]:hover {
    border: 2px solid #00ffe1; 
    box-shadow: 0 0 15px #00ffe1, 0 0 5px #01ffe1;
}