body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

#hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    animation: floatUp 2s ease-out forwards; /* Add this line */
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px); /* Adjust distance as needed */
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes explode {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(2); opacity: 0; }
}

.explode {
    animation: explode 0.5s forwards;
}

input[type="text"] {
    margin-top: 0; /* Remove margin above input box */
    opacity: 0;
    animation: fadeIn 2s ease-out forwards 2s; /* Adjust duration, easing function, and delay as needed */
}

input[type="submit"] {
    opacity: 0;
    animation: fadeIn 2s ease-out forwards 2s; /* Adjust duration, easing function, and delay as needed */
    margin-top: 10px;
}

label {
    font-family: 'Maiden Orange', cursive;
    display: flex;
    font-size: 4em; /* Adjust size as needed */
    margin-bottom: 0; /* Remove margin below label */
    color: black;
}

select, input[type="date"] {
    font-size: 1.5rem; /* Increase font size */
    padding: 10px; /* Add padding */
    font-family: 'Maiden Orange', cursive;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes the container take up the full height of the viewport */
}

#stateForm, #parkForm, #dateForm {
    text-align: center; /* This centers the text within the form */
}

button {
    margin-top: 10px; /* Adjust this value as needed */
}
